# Ignore the following folders
ressources/
x_old/
AWS_keys/

# Checkpoints Jupyter Notebook and __pycache__
**/.ipynb_checkpoints/
**__pycache__/

# mlflow data
**/mlruns/
**/mlflow.db

# data
**/input/
**/df_final.pkl